# Ujian Tengah Semester Data Warehouse

##### Anggota Kelompok
1. Aliya Rahmania - 140810210005
2. Adinda Salsabila - 140810210017
3. Aliya Sania - 140810210035
4. Sarah Khairunnisa Prihantoro - 140810210063

## Import Library yang Digunakan

In [14]:
#Input semua library yang dibutuhkan
import pandas as pd

## Gathering Data

In [3]:
#Read dataset Karyawan_Dankos.csv
table_karyawan_d_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Karyawan_Dankos.csv')
table_karyawan_d_df.head()

  id_karyawan                nama_karyawan div_karyawan
0      DK-199               Tari Puspasari      Finance
1      DK-148                 Saka Wastuti        Sales
2       DK-94  Ir. Radit Megantara, M.Farm           HR
3       DK-56                  Ade Hutapea           HR
4        DK-4        Utama Pranowo, M.Farm           HR

In [4]:
#Read dataset Karyawan_Enseva.csv
table_karyawan_e_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Karyawan_Enseva.csv')
table_karyawan_e_df.head()

  id_karyawan           nama_karyawan div_karyawan
0        EK-3             Manah Utami   Operations
1        EK-2  Ilsa Mardhiyah, S.Farm           HR
2       EK-17     Darsirah Tampubolon   Operations
3      EK-197        Ismail Wijayanti           IT
4      EK-143            Usyi Hasanah     Research

In [8]:
#Read dataset Operasional_Dankos.csv
table_operasional_d_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Operasional_Dankos.csv')
table_operasional_d_df.head()

,ID_Produk,Nama_Produk,Kategori_Produk,Harga_Satuan,Stok_Produk,ID_Pemasok,ID_Pesanan_Pembelian,ID_Pesanan_Penjualan
0,DK1,Stetoskop,Medical Device,40150000,471,DKS127,DKPO1012,DKSO2026
1,DK2,Suplemen Seng,Nutritional,29620000,18,DKS100,DKPO1082,DKSO2026
2,DK3,Vitamin C,Nutritional,6630000,106,DKS126,DKPO1007,DKSO2052
3,DK4,Bubuk Protein,Nutritional,11800000,21,DKS150,DKPO1087,DKSO2055
4,DK5,Antivirus,Pharmaceutical,36340000,67,DKS120,DKPO1008,DKSO2007

In [9]:
#Read dataset Operasional_Enseva.csv
table_operasional_e_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Operasional_Enseva.csv')
table_operasional_e_df.head()

,product_id,product_name,product_category,product_unit_price,product_inventory,supplier_id,purchase_order_id,sales_order_id
0,EN-P1001,Protective Mask Dankos,Produk Kebersihan,920000,383,EN-S1065,EN-PO10077,EN-SO20044
1,EN-P1002,Digital Thermometer Dankos,Peralatan Medis,40000,442,EN-S1062,EN-PO10080,EN-SO20060
2,EN-P1003,Hand Sanitizer Dankos,Produk Kebersihan,432000,88,EN-S1021,EN-PO10063,EN-SO20067
3,EN-P1004,Zinc Dankos,Suplemen Kesehatan,132000,99,EN-S1013,EN-PO10097,EN-SO20042
4,EN-P1005,Vitamin C Dankos,Suplemen Kesehatan,362000,424,EN-S1022,EN-PO10030,EN-SO20022

In [10]:
#Read dataset Pelanggan_Dankos.csv
table_pelanggan_d_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Pelanggan_Dankos.csv')
table_pelanggan_d_df.head()

  customer_id                 customer_name                    gmail
0      D-C354           Anggabaya Tarihoran  anggabaya.939@gmail.com
1      D-C627  Dr. Calista Napitupulu, S.IP        dr..754@gmail.com
2      D-C330       dr. Galih Winarno, S.T.        dr..213@gmail.com
3      D-C621      R. Amelia Suwarno, S.Psi         r..271@gmail.com
4      D-C400                  Salwa Wibowo      salwa.664@gmail.com

In [11]:
#Read dataset Pelanggan_Enseva.csv
table_pelanggan_e_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Pelanggan_Enseva.csv')
table_pelanggan_e_df.head()

  customer_id                customer_name                  gmail
0        E-C1       Ulya Zulkarnain, S.Kom      Ulyaz08@gmail.com
1        E-C2                 Titi Saptono     titi.140@gmail.com
2        E-C3  Kambali Adriansyah, S.I.Kom  kambali.350@gmail.com
3        E-C4                 Septi Astuti    septi.749@gmail.com
4        E-C5               Lidya Sihotang    lidya.223@gmail.com

In [12]:
#Read dataset Riset_Dankos.csv
table_riset_d_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Riset_Dankos.csv')
table_riset_d_df.head()

,project_id,project_name,project_start_date,project_end_date,project_status,project_budget,researcher_id,publication_id
0,DP1,Evaluasi Obat Anti-Inflamasi Baru,01-01-2020,04-06-2020,selesai,28902000,DR1027,PU2054
1,DP2,Optimalisasi Proses Produksi Obat Biotech,22-01-2020,20-01-2021,selesai,200484000,DR1018,PU2059
2,DP3,Penelitian Bioavailabilitas Substansi Aktif,12-02-2020,11-05-2020,sedang berlangsung,94283000,DR1086,PU2084
3,DP4,Pengembangan Sistem Pemantauan Kesehatan Digital,04-03-2020,04-10-2020,sedang berlangsung,155975000,DR1001,PU2098
4,DP5,Penelitian Ketahanan Antibiotik,25-03-2020,18-02-2021,sedang berlangsung,197903000,DR1034,PU2041

In [15]:
#Read dataset Riset_Enseva.csv
table_riset_e_df = pd.read_csv('https://raw.githubusercontent.com/adindaaasals/Data_Warehouse/main/Riset_Enseva.csv')
table_riset_e_df.head()

,project_id,project_name,project_start_date,project_end_date,project_status,project_budget,researcher_id,publication_id
0,EMP1,Studi Perbandingan Efikasi Analgesik,01-01-2020,04-06-2020,selesai,102019000,EMF1023,EMPUB2012
1,EMP2,Pengembangan Formula Antihistamin,22-01-2020,20-01-2021,selesai,182223000,EMF1068,EMPUB2090
2,EMP3,Studi Bioekivalensi untuk Obat Generik,12-02-2020,11-05-2020,sedang berlangsung,80641000,EMF1020,EMPUB2075
3,EMP4,Penelitian Terapi Stem Cell,04-03-2020,04-10-2020,sedang berlangsung,55310000,EMF1013,EMPUB2025
4,EMP5,Evaluasi Efektivitas Vaksin Malaria,25-03-2020,18-02-2021,sedang berlangsung,296988000,EMF1056,EMPUB2055

## Cleaning Data

#### Sebelumnya, kami sudah melakukan cleaning dengan menghapus data duplikasi pada google sheets. Selanjutnya kami akan melakukan pengecekan missing values dan mengubah nama kolom

In [ ]:
1. Missing Values

In [17]:
#Check missing values in table_karyawan_d_df
missing_values = table_karyawan_d_df.isnull().sum()

#Print missing values in table_karyawan_d_df
print("Jumlah data yang hilang pada tabel Karyawan Dankos: ", missing_values.sum())

Jumlah data yang hilang pada tabel Karyawan Dankos:  4

In [18]:
#Drop missing values
table_karyawan_d_df = table_karyawan_d_df.dropna()

#Success message
print("Data hilang berhasil dihapus!")

Data hilang berhasil dihapus!

In [19]:
#Print sum of missing values
print("Jumlah data yang hilang yang tersisa: ", table_karyawan_d_df.isnull().sum().sum())

Jumlah data yang hilang yang tersisa:  0

In [20]:
#Check missing values in table_karyawan_e_df
missing_values = table_karyawan_e_df.isnull().sum()

#Print missing values in table_karyawan_e_df
print("Jumlah data yang hilang pada tabel Karyawan Enseval: ", missing_values.sum())

Jumlah data yang hilang pada tabel Karyawan Enseval:  6

In [21]:
#Drop missing values
table_karyawan_e_df = table_karyawan_e_df.dropna()

#Success message
print("Data hilang berhasil dihapus!")

Data hilang berhasil dihapus!

In [22]:
#Print sum of missing values
print("Jumlah data yang hilang yang tersisa: ", table_karyawan_e_df.isnull().sum().sum())

Jumlah data yang hilang yang tersisa:  0

2. Mengubah nama kolom pada tabel Operasional Dankos

In [37]:
#Rename column from Bahasa to English
table_operasional_d_df = table_operasional_d_df.rename(columns={'ID_Produk': 'product_id'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'Nama_Produk': 'product_name'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'Kategori_Produk': 'product_category'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'Harga_Satuan': 'product_unit_price'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'Stok_Produk': 'product_inventory'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'ID_Pemasok': 'supplier_id'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'ID_Pesanan_Pembelian': 'purchase_order_id'})
table_operasional_d_df = table_operasional_d_df.rename(columns={'ID_Pesanan_Penjualan': 'sales_order_id'})

#Success message
print("Nama kolom berhasil diubah!")

Nama kolom berhasil diubah!

## Integrasi Data

Menggabungkan Dataset untuk Tabel Karyawan, Operasional, Pelanggan, dan Riset

In [39]:
#Merge table_karyawan_d_df and table_karyawan_e_df
karyawan_df = pd.concat([table_karyawan_d_df, table_karyawan_e_df])

#Merge table_operasional_d_df and table_operasional_e_df
operasional_df = pd.concat([table_operasional_d_df, table_operasional_e_df])

#Merge table_pelanggan_d_df and table_pelanggan_e_df
pelanggan_df = pd.concat([table_pelanggan_d_df, table_pelanggan_e_df])

#Merge table_riset_d_df and table_riset_e_df
riset_df = pd.concat([table_riset_d_df, table_riset_e_df])

#Success message
print("Data berhasil digabungkan!")

Data berhasil digabungkan!

In [24]:
#Show merged data table_karyawan_d_df and table_karyawan_e_df
print(karyawan_df)

    id_karyawan                nama_karyawan div_karyawan
0        DK-199               Tari Puspasari      Finance
1        DK-148                 Saka Wastuti        Sales
2         DK-94  Ir. Radit Megantara, M.Farm           HR
3         DK-56                  Ade Hutapea           HR
4          DK-4        Utama Pranowo, M.Farm           HR
..          ...                          ...          ...
103       EK-11                Elvina Irawan        Sales
104        EK-7           Edi Farida, M.Kom.   Operations
105       EK-84               Martana Namaga           IT
106       EK-31               Rachel Winarno   Operations
107      EK-117       Sakura Manullang, M.Pd    Marketing

[184 rows x 3 columns]

In [40]:
#Show merged data table_operasional_d_df and table_operasional_e_df
print(operasional_df)

   product_id                  product_name    product_category  \
0         DK1                     Stetoskop      Medical Device
1         DK2                 Suplemen Seng         Nutritional
2         DK3                     Vitamin C         Nutritional
3         DK4                 Bubuk Protein         Nutritional
4         DK5                     Antivirus      Pharmaceutical
..        ...                           ...                 ...
75   EN-P1076  Herbal Immune Booster Dankos  Suplemen Kesehatan
76   EN-P1077     Portable Nebulizer Dankos     Peralatan Medis
77   EN-P1078        Antiseptic Soap Dankos   Produk Kebersihan
78   EN-P1079              Vitamin C Dankos  Suplemen Kesehatan
79   EN-P1080        Antiseptic Soap Dankos   Produk Kebersihan

    product_unit_price  product_inventory supplier_id purchase_order_id  \
0             40150000                471      DKS127          DKPO1012
1             29620000                 18      DKS100          DKPO1082
2              6630000                106      DKS126          DKPO1007
3             11800000                 21      DKS150          DKPO1087
4             36340000                 67      DKS120          DKPO1008
..                 ...                ...         ...               ...
75              889000                494    EN-S1038        EN-PO10064
76              987000                362    EN-S1007        EN-PO10044
77              177000                187    EN-S1021        EN-PO10042
78              437000                 96    EN-S1005        EN-PO10034
79              848000                494    EN-S1015        EN-PO10078

   sales_order_id
0        DKSO2026
1        DKSO2026
2        DKSO2052
3        DKSO2055
4        DKSO2007
..            ...
75     EN-SO20064
76     EN-SO20081
77     EN-SO20081
78     EN-SO20032
79     EN-SO20093

[200 rows x 8 columns]

In [32]:
#Show merged data table_pelanggan_d_df and table_pelanggan_e_df
print(pelanggan_df)

     customer_id                 customer_name                    gmail
0         D-C354           Anggabaya Tarihoran  anggabaya.939@gmail.com
1         D-C627  Dr. Calista Napitupulu, S.IP        dr..754@gmail.com
2         D-C330       dr. Galih Winarno, S.T.        dr..213@gmail.com
3         D-C621      R. Amelia Suwarno, S.Psi         r..271@gmail.com
4         D-C400                  Salwa Wibowo      salwa.664@gmail.com
...          ...                           ...                      ...
1333     E-C1327            Daryani Zulkarnain       puti.183@gmail.com
1334     E-C1328              Tgk. Usyi Habibi  harimurti.840@gmail.com
1335     E-C1329             Chandra Purnawati    daliman.434@gmail.com
1336     E-C1330           Paramita Mangunsong       dian.359@gmail.com
1337     E-C1331                Tasnim Wastuti    prabowo.267@gmail.com

[3498 rows x 3 columns]

In [33]:
#Show merged data table_riset_d_df and table_riset_e_df
print(riset_df)

   project_id                                      project_name  \
0         DP1                 Evaluasi Obat Anti-Inflamasi Baru
1         DP2         Optimalisasi Proses Produksi Obat Biotech
2         DP3       Penelitian Bioavailabilitas Substansi Aktif
3         DP4  Pengembangan Sistem Pemantauan Kesehatan Digital
4         DP5                   Penelitian Ketahanan Antibiotik
..        ...                                               ...
65      EMP66                       Penelitian Terapi Stem Cell
66      EMP67                       Penelitian Terapi Stem Cell
67      EMP68                        Penelitian Obat Anti-Aging
68      EMP69       Evaluasi Terapi Komplementer untuk Diabetes
69      EMP70                        Studi Stabilitas Obat Baru

   project_start_date project_end_date      project_status  project_budget  \
0          01-01-2020       04-06-2020             selesai        28902000
1          22-01-2020       20-01-2021             selesai       200484000
2          12-02-2020       11-05-2020  sedang berlangsung        94283000
3          04-03-2020       04-10-2020  sedang berlangsung       155975000
4          25-03-2020       18-02-2021  sedang berlangsung       197903000
..                ...              ...                 ...             ...
65         07-10-2023       01-07-2024  sedang berlangsung       159441000
66         28-10-2023       01-10-2024  sedang berlangsung       153879000
67         18-11-2023       26-08-2024             selesai       259077000
68         09-12-2023       08-01-2024             selesai       254791000
69         31-12-2023       20-06-2024             selesai       205258000

   researcher_id publication_id
0         DR1027         PU2054
1         DR1018         PU2059
2         DR1086         PU2084
3         DR1001         PU2098
4         DR1034         PU2041
..           ...            ...
65       EMF1046      EMPUB2062
66       EMF1023      EMPUB2089
67       EMF1065      EMPUB2083
68       EMF1000      EMPUB2016
69       EMF1032      EMPUB2028

[140 rows x 8 columns]

## Transformasi Data

1. Mencari Tahu Biaya Operasional Terbesar dan Terkecil

In [49]:
#Find the largest Operational Cost
largest_cost = operasional_df['product_unit_price'].max()

#Print the largest transaction
print("Biaya Operasional Terbesar: ", largest_cost)

#Find the Smallest Operational Cost
smallest_cost = operasional_df['product_unit_price'].min()

#Print the largest transaction
print("Biaya Operasional Terkecil: ", smallest_cost)

Biaya Operasional Terbesar:  49930000
Biaya Operasional Terkecil:  34000

2. Mencari Tahu Budget Project Terbesar dan Terkecil

In [54]:
#Find the largest Project Cost
largest_budget = riset_df['project_budget'].max()

#Print the largest transaction
print("Budget Project Terbesar: ", largest_cost)

#Find the Smallest Operational Cost
smallest_budget = riset_df['project_budget'].min()

#Print the largest transaction
print("Budget Project Terkecil: ", smallest_budget)

Budget Project Terbesar:  49930000
Budget Project Terkecil:  3059000

3. Mencari Tahu Project dengan Durasi Paling Lama

In [55]:
#Convert start and end dates to datetime objects
riset_df['project_start_date'] = pd.to_datetime(riset_df['project_start_date'])
riset_df['project_end_date'] = pd.to_datetime(riset_df['project_end_date'])

#Calculate the duration of each project
riset_df['duration'] = riset_df['project_end_date'] - riset_df['project_start_date']

#Locate the project with the maximum duration
longest_project = riset_df.loc[riset_df['duration'].idxmax()]

#Print the longest duration
print("Project dengan Durasi Paling Lama:\n", longest_project)

Project with the Longest Duration:
    project_id                         project_name project_start_date  \
13       DP14       Optimasi Formula Dermatologi 3         2020-02-10
13      EMP14  Evaluasi Efektivitas Vaksin Malaria         2020-02-10

   project_end_date project_status  project_budget researcher_id  \
13       2021-09-28        selesai        86102000        DR1011
13       2021-09-28        selesai        39224000       EMF1069

   publication_id duration
13         PU2094 596 days
13      EMPUB2098 596 days